*.o
*.lo
*.la
*.al
.libs
*.so
*.so.[0-9]*
*.a
*.pyc
*.pyo
__pycache__
*.rej
*~
\#*#
.#*
.*.swp
.DS_Store
__Previews
*.PrjPcbStructure
History
Project Logs for *
Project Outputs for *
*.LOG
/Code/Prototypes/SWR Sweeper/logs
Debug
